[submodule "submodules/libcyphal"]
	path = submodules/libcyphal
	url = https://github.com/OpenCyphal-Garage/libcyphal.git
[submodule "submodules/libudpard"]
	path = submodules/libudpard
	url = https://github.com/OpenCyphal/libudpard
	branch = v2
[submodule "submodules/libcanard"]
	path = submodules/libcanard
	url = https://github.com/UAVCAN/libcanard
	branch = v4
[submodule "submodules/nunavut"]
	path = submodules/nunavut
	url = https://github.com/OpenCyphal/nunavut.git
    branch = sshirokov/rpi32
[submodule "submodules/cetl"]
	path = submodules/cetl
	url = https://github.com/OpenCyphal/CETL.git
[submodule "submodules/spdlog"]
	path = submodules/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = v1.x
[submodule "submodules/toml11"]
	path = submodules/toml11
	url = https://github.com/ToruNiina/toml11.git
