[submodule "submodules/libcyphal"]
	path = submodules/libcyphal
	url = https://github.com/OpenCyphal-Garage/libcyphal.git
[submodule "submodules/libudpard"]
	path = submodules/libudpard
	url = https://github.com/OpenCyphal/libudpard
	branch = v2
[submodule "submodules/libcanard"]
	path = submodules/libcanard
	url = https://github.com/UAVCAN/libcanard
	branch = v4
[submodule "submodules/nunavut"]
	path = submodules/nunavut
	url = https://github.com/OpenCyphal/nunavut.git
	branch = 3.0.preview
[submodule "submodules/cetl"]
	path = submodules/cetl
	url = https://github.com/OpenCyphal/CETL.git
[submodule "submodules/spdlog"]
	path = submodules/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = v1.x
